.circle {
	width: 1.875rem;
	height: 1.875rem;
	background-position: 0 0;
}

.square {
	width: 1.625rem;
	height: 1.625rem;
	background-position: -2.1875rem 0;
}

.triangle {
	width: 1.875rem;
	height: 1.625rem;
	background-position: -4.375rem 0;
}

.circle, .square, .triangle {
	background-size: 6.5625rem 2.1875rem;
	background-repeat: no-repeat;
	background-image: url("cssUnit-rem-sprite.png");
}

.svg .circle, .svg .square, .svg .triangle {
	background-image: url("cssUnit-rem-sprite.svg");
}
