.circle {
	width: 30px;
	height: 30px;
	background-position: 0 0;
}

.square {
	width: 26px;
	height: 26px;
	background-position: 0 -35px;
}

.triangle {
	width: 30px;
	height: 26px;
	background-position: 0 -70px;
}

.circle, .square, .triangle {
	background-size: 35px 105px;
	background-repeat: no-repeat;
	background-image: url("layout-vertical-sprite.png");
}

.svg .circle, .svg .square, .svg .triangle {
	background-image: url("layout-vertical-sprite.svg");
}