.square-small {
	width: 0.8125em;
	height: 0.8125em;
	background-position: 0 0;
}

.circle-small {
	width: 0.9375em;
	height: 0.9375em;
	background-position: -0.875em 0;
}

.triangle-small {
	width: 0.9375em;
	height: 0.8125em;
	background-position: -1.8125em 0;
}

.square-small, .circle-small, .triangle-small {
	background-image: url("breakpoints-cssUnit-em-sprite-small.png");
	background-repeat: no-repeat;
	background-size: 2.8125em 1em;
}

@media only screen and (min-width: 400px) {
	
	.square-small {
		width: 1.625em;
		height: 1.625em;
		background-position: 0 0;
	}
	
	.circle-small {
		width: 1.875em;
		height: 1.875em;
		background-position: -1.6875em 0;
	}
	
	.triangle-small {
		width: 1.875em;
		height: 1.625em;
		background-position: -3.625em 0;
	}
	
	.square-small, .circle-small, .triangle-small {
		background-size: 5.5625em 1.9375em;
	}

}

@media only screen and (min-width: 640px) {
	
	.square-small {
		width: 2.4375em;
		height: 2.4375em;
		background-position: 0 0;
	}
	
	.circle-small {
		width: 2.8125em;
		height: 2.8125em;
		background-position: -2.5625em 0;
	}
	
	.triangle-small {
		width: 2.8125em;
		height: 2.4375em;
		background-position: -5.4375em 0;
	}
	
	.square-small, .circle-small, .triangle-small {
		background-size: 8.375em 2.9375em;
	}

}

@media only screen and (min-width: 800px) {
	
	.square-small {
		width: 3.25em;
		height: 3.25em;
		background-position: 0 0;
	}
	
	.circle-small {
		width: 3.75em;
		height: 3.75em;
		background-position: -3.375em 0;
	}
	
	.triangle-small {
		width: 3.75em;
		height: 3.25em;
		background-position: -7.25em 0;
	}
	
	.square-small, .circle-small, .triangle-small {
		background-size: 11.125em 3.875em;
	}

}

.square-medium {
	width: 1.625em;
	height: 1.625em;
	background-position: 0 0;
}

.circle-medium {
	width: 1.875em;
	height: 1.875em;
	background-position: -1.6875em 0;
}

.triangle-medium {
	width: 1.875em;
	height: 1.625em;
	background-position: -3.625em 0;
}

.square-medium, .circle-medium, .triangle-medium {
	background-image: url("breakpoints-cssUnit-em-sprite-medium.png");
	background-repeat: no-repeat;
	background-size: 5.5625em 1.9375em;
}

@media only screen and (min-width: 400px) {
	
	.square-medium {
		width: 2.4375em;
		height: 2.4375em;
		background-position: 0 0;
	}
	
	.circle-medium {
		width: 2.8125em;
		height: 2.8125em;
		background-position: -2.5625em 0;
	}
	
	.triangle-medium {
		width: 2.8125em;
		height: 2.4375em;
		background-position: -5.4375em 0;
	}
	
	.square-medium, .circle-medium, .triangle-medium {
		background-size: 8.375em 2.9375em;
	}

}

@media only screen and (min-width: 640px) {
	
	.square-medium {
		width: 3.25em;
		height: 3.25em;
		background-position: 0 0;
	}
	
	.circle-medium {
		width: 3.75em;
		height: 3.75em;
		background-position: -3.375em 0;
	}
	
	.triangle-medium {
		width: 3.75em;
		height: 3.25em;
		background-position: -7.25em 0;
	}
	
	.square-medium, .circle-medium, .triangle-medium {
		background-size: 11.125em 3.875em;
	}

}

@media only screen and (min-width: 800px) {
	
	.square-medium {
		width: 4.0625em;
		height: 4.0625em;
		background-position: 0 0;
	}
	
	.circle-medium {
		width: 4.6875em;
		height: 4.6875em;
		background-position: -4.25em 0;
	}
	
	.triangle-medium {
		width: 4.6875em;
		height: 4.0625em;
		background-position: -9.0625em 0;
	}
	
	.square-medium, .circle-medium, .triangle-medium {
		background-size: 13.9375em 4.875em;
	}

}

.svg .square-small, .svg .circle-small, .svg .triangle-small, .svg .square-medium, .svg .circle-medium, .svg .triangle-medium {
	background-image: url("breakpoints-cssUnit-em-sprite.svg");
}