.square {
	width: 26px;
	height: 26px;
	background-position: 0 0;
}

.triangle {
	width: 30px;
	height: 26px;
	background-position: -35px 0;
}

.square, .triangle {
	background-size: 70px 35px;
	background-repeat: no-repeat;
	background-image: url("spriteElementPath-glob-parens-sprite.png");
}

.svg .square, .svg .triangle {
	background-image: url("spriteElementPath-glob-parens-sprite.svg");
}
