.square-small {
	width: 13px;
	height: 13px;
	background-position: 0 0;
}

.circle-small {
	width: 15px;
	height: 15px;
	background-position: -14px 0;
}

.triangle-small {
	width: 15px;
	height: 13px;
	background-position: -30px 0;
}

.square-small, .circle-small, .triangle-small {
	background-size: 46px 16px;
	background-repeat: no-repeat;
	background-image: url("breakpoints-sprite-small.png");
}

@media only screen and (min-width: 400px) {
	
	.square-small {
		width: 26px;
		height: 26px;
		background-position: 0 0;
	}
	
	.circle-small {
		width: 30px;
		height: 30px;
		background-position: -28px 0;
	}
	
	.triangle-small {
		width: 30px;
		height: 26px;
		background-position: -60px 0;
	}
	
	.square-small, .circle-small, .triangle-small {
		background-size: 92px 32px;
	}

}

@media only screen and (min-width: 640px) {
	
	.square-small {
		width: 39px;
		height: 39px;
		background-position: 0 0;
	}
	
	.circle-small {
		width: 45px;
		height: 45px;
		background-position: -42px 0;
	}
	
	.triangle-small {
		width: 45px;
		height: 39px;
		background-position: -90px 0;
	}
	
	.square-small, .circle-small, .triangle-small {
		background-size: 138px 48px;
	}

}

@media only screen and (min-width: 800px) {
	
	.square-small {
		width: 52px;
		height: 52px;
		background-position: 0 0;
	}
	
	.circle-small {
		width: 60px;
		height: 60px;
		background-position: -56px 0;
	}
	
	.triangle-small {
		width: 60px;
		height: 52px;
		background-position: -120px 0;
	}
	
	.square-small, .circle-small, .triangle-small {
		background-size: 184px 64px;
	}

}

.square-medium {
	width: 26px;
	height: 26px;
	background-position: 0 0;
}

.circle-medium {
	width: 30px;
	height: 30px;
	background-position: -28px 0;
}

.triangle-medium {
	width: 30px;
	height: 26px;
	background-position: -60px 0;
}

.square-medium, .circle-medium, .triangle-medium {
	background-size: 92px 32px;
	background-repeat: no-repeat;
	background-image: url("breakpoints-sprite-medium.png");
}

@media only screen and (min-width: 400px) {
	
	.square-medium {
		width: 39px;
		height: 39px;
		background-position: 0 0;
	}
	
	.circle-medium {
		width: 45px;
		height: 45px;
		background-position: -42px 0;
	}
	
	.triangle-medium {
		width: 45px;
		height: 39px;
		background-position: -90px 0;
	}
	
	.square-medium, .circle-medium, .triangle-medium {
		background-size: 138px 48px;
	}

}

@media only screen and (min-width: 640px) {
	
	.square-medium {
		width: 52px;
		height: 52px;
		background-position: 0 0;
	}
	
	.circle-medium {
		width: 60px;
		height: 60px;
		background-position: -56px 0;
	}
	
	.triangle-medium {
		width: 60px;
		height: 52px;
		background-position: -120px 0;
	}
	
	.square-medium, .circle-medium, .triangle-medium {
		background-size: 184px 64px;
	}

}

@media only screen and (min-width: 800px) {
	
	.square-medium {
		width: 65px;
		height: 65px;
		background-position: 0 0;
	}
	
	.circle-medium {
		width: 75px;
		height: 75px;
		background-position: -70px 0;
	}
	
	.triangle-medium {
		width: 75px;
		height: 65px;
		background-position: -150px 0;
	}
	
	.square-medium, .circle-medium, .triangle-medium {
		background-size: 230px 80px;
	}

}

.svg .square-small, .svg .circle-small, .svg .triangle-small, .svg .square-medium, .svg .circle-medium, .svg .triangle-medium {
	background-image: url("breakpoints-sprite.svg");
}
