.square-small {
	width: 13px;
	height: 13px;
	background-position: 0 0;
}

.circle-small {
	width: 15px;
	height: 15px;
	background-position: -14px 0;
}

.triangle-small {
	width: 15px;
	height: 13px;
	background-position: -30px 0;
}

.square-small, .circle-small, .triangle-small {
	background-image: url("../refSize-number/refSize-number-sprite-small.png");
	background-size: 46px 16px;
}

.square-large {
	width: 39px;
	height: 39px;
	background-position: 0 0;
}

.circle-large {
	width: 45px;
	height: 45px;
	background-position: -42px 0;
}

.triangle-large {
	width: 45px;
	height: 39px;
	background-position: -90px 0;
}

.square-large, .circle-large, .triangle-large {
	background-image: url("../refSize-number/refSize-number-sprite-large.png");
	background-size: 138px 48px;
}

.svg .square-small, .svg .circle-small, .svg .triangle-small, .svg .square-large, .svg .circle-large, .svg .triangle-large {
	background-image: url("../refSize-number/refSize-number-sprite.svg");
}
