.circle-small {
	width: 15px;
	height: 15px;
	background-position: 0 0;
}

.square-small {
	width: 13px;
	height: 13px;
	background-position: -16px 0;
}

.triangle-small {
	width: 15px;
	height: 13px;
	background-position: -30px 0;
}

.circle-small, .square-small, .triangle-small {
	background-size: 46px 16px;
	background-repeat: no-repeat;
	background-image: url("refSize-number-sprite-small.png");
}

.circle-large {
	width: 45px;
	height: 45px;
	background-position: 0 0;
}

.square-large {
	width: 39px;
	height: 39px;
	background-position: -48px 0;
}

.triangle-large {
	width: 45px;
	height: 39px;
	background-position: -90px 0;
}

.circle-large, .square-large, .triangle-large {
	background-size: 138px 48px;
	background-repeat: no-repeat;
	background-image: url("refSize-number-sprite-large.png");
}

.svg .circle-small, .svg .square-small, .svg .triangle-small, .svg .circle-large, .svg .square-large, .svg .triangle-large {
	background-image: url("refSize-number-sprite.svg");
}
